<article class="gifs-container">
  <section class="gifs-sidebar">
    <h3 class="gifs-sidebar-title">Gifs-App</h3>
    <hr class="hr">

    <section class="gifs-sidebar-list">
      <a href="#" class="gifs-sidebar-list-item">Dashboard</a>
    </section>
  </section>

  <section class="gifs-right-panel">
    <section class="gifs-right-panel-search-box">
      <h5 class="gifs-right-panel-search-box-title">Buscar:</h5>

      <input type="text" class="gifs-right-panel-search-box-input" placeholder="Search gifs...">
    </section>
    <hr class="hr">
  </section>
</article>
